{% extends 'base.html' %}
{% block page_title %}{{ product.name }} Detail{% endblock page_title %}

{% block content %}
<p><a href="{% url 'main:show_main' %}" class="btn">← Kembali ke Daftar Produk</a></p>

<h1>{{ product.name }}</h1>
{% if product.thumbnail %}
<img src="{{ product.thumbnail }}" alt="{{ product.name }}" width="300px" style="border-radius: 8px; margin-bottom: 15px;">
<br />
{% endif %}

<p><b>Kategori:</b> {{ product.category }}</p>
<p><b>Harga:</b> Rp {{ product.price|floatformat:0 }}</p>
<p><b>Deskripsi:</b></p>
<p>{{ product.description }}</p>
{% if product.user %}
    <p><b>Dibuat oleh:</b> {{ product.user.username }}</p> {# Tampilkan nama pembuat produk #}
{% else %}
    <p><b>Dibuat oleh:</b> Anonymous</p>
{% endif %}
<p>Ditambahkan pada: <i>{{ product.created_at|date:"d M Y, H:i" }}</i></p>

{% endblock content %}